<div class="container mt-5">
    <!-- <div class="row justify-content-center"> -->
    <div class="card col-sm-12">
        <div class="card-header">
            Signature Verification
        </div>

        <div class="card-body">
            <form *ngIf="formGroup" [formGroup]="formGroup" class="row g-3">
                <div >
                    <label for="commentHistory">Comment History</label>
                    <input type="text" id="commentHistory" class="form-control" formControlName="comments">
                </div>
                <div class="container mt-5">
                    <div class="position-relative border p-4">
                        <div class="position-absolute bg-white px-3 py-1 font-weight-bold"
                            style="top: -20px; left: -20px;">
                            Document</div>
                        <div class="row mb-3">
                            <label for="reference" class="col-sm-5 col-form-label">Reference</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="reference" formControlName="businessKey" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="position-relative border p-4">
                        <div class="position-absolute bg-white px-3 py-1 font-weight-bold"
                            style="top: -20px; left: -20px;">
                            Transfer Details</div>
                        <div class="row mb-3">
                            <label for="currency" class="col-sm-5 col-form-label">Currency</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="currency"
                                    formControlName="transactionCurrency" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ammount" class="col-sm-5 col-form-label">Amount</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="amount" formControlName="transactionAmount" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="amountInMur" class="col-sm-5 col-form-label">MUR equivalent</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="amountInMur" formControlName="amountInMur" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="position-relative border p-4">
                        <div class="position-absolute bg-white px-3 py-1 font-weight-bold"
                            style="top: -20px; left: -20px;">
                            Debit
                            Account Details</div>
                        <div class="row mb-3">
                            <label for="debitAccountNumber" class="col-sm-5 col-form-label">Account Number</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="debitAccountNumber"
                                    [value]="selectedRow.debitAccountNumber" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="accountShortName" class="col-sm-5 col-form-label">Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="accountShortName"
                                    formControlName="accountShortName" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="debitAccountCcy" class="col-sm-5 col-form-label">Currency</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="debitAccountCcy"
                                    formControlName="debitAccountCcy" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="position-relative border p-4">
                        <div class="position-absolute bg-white px-3 py-1 font-weight-bold"
                            style="top: -20px; left: -20px;">
                            Payment Details</div>
                        <div class="row mb-3">
                            <label for="paymentDetails1" class="col-sm-5 col-form-label">Payment Details</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="paymentDetails1"
                                    formControlName="paymentDetails1" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="paymentDetails2" class="col-sm-5 col-form-label"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="paymentDetails2"
                                    formControlName="paymentDetails2" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="paymentDetails3" class="col-sm-5 col-form-label"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="paymentDetails3"
                                    formControlName="paymentDetails3" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="paymentDetails4" class="col-sm-5 col-form-label"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="paymentDetails4"
                                    formControlName="paymentDetails4" >
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container mt-5">
                    <div class="position-relative border p-4">
                        <div class="position-absolute bg-white px-3 py-1 font-weight-bold"
                            style="top: -20px; left: -20px;">
                            Signature</div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                            <div class="col-sm-5">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="verified" id="yes" value="Yes"
                                        formControlName="verified" >
                                    <label class="form-check-label" for="verified">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="verified" id="no" value="No"
                                        formControlName="verified" >
                                    <label class="form-check-label" for="verified">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div *ngIf="isNoSelected()">
                            <div class="row mb-3">
                                <label for="discrepancyReason" class="col-sm-5 col-form-label">Discrepancy
                                    Reason</label>
                                <div class="col-sm-5">
                                    <select class="form-select" id="discrepancyReason"
                                        formControlName="discrepancyReason" >
                                        <option value="">Select a reason</option>
                                        <option value="Signature Missing">Signature Missing</option>
                                        <option value="Signature differs from T24">Signature differs from T24</option>
                                        <option value="Signature not recorded on T24">Signature not recorded on T24
                                        </option>
                                        <option value="Signature wrongly scanned on T24">Signature wrongly scanned on
                                            T24</option>
                                        <option value="Signature and name mismatch">Signature and name mismatch</option>
                                        <option value="Signature illegible">Signature illegible</option>
                                        <option value="One authorised Signature missing">One authorised Signature
                                            missing</option>
                                        <option value="Signatory not authorised to sign on account">Signatory not
                                            authorised to sign
                                            on
                                            account</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>